*
!*/
bin/
lib/
!*.pas
!*.pp
!*.inc
!*.lpk
!*.lpr
!*.lpi
!*.lrs
!*.glsl
!*.frag
!*.vert
!*.py
!*.p3d
!*.p3dmesh
!*.txt
!*.html
!*.css
!*.pmd
!*.jpg
!*.png
!*.tga
!*.bmp
!*.ttf
!reference
!pascal3d
!.gitignore
