*
!*/
bin/
lib/
backup/
!*.pas
!*.pp
!*.inc
!*.lpk
!*.lpr
!*.lpi
!*.lrs
!*.lfm
!*.glsl
!*.frag
!*.vert
!*.py
!*.p3d
!*.p3dmesh
!*.p3dbin
!*.txt
!*.html
!*.css
!*.pmd
!*.jpg
!*.png
!*.tga
!*.bmp
!*.ttf
!*.xml
!*.blend
!*.js
!*.sh
!reference
!pascal3d
!gtksourceview
!.gitignore
